
<div class="form-container"
  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
  <h1
    style="color: #000; font-family: 'Bugaki'; font-size: 24px; font-style: normal; font-weight: 400; line-height: normal;">
    Inscription</h1>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">

    <!-- Label et champ Nom -->
    <div class="form-field" style="margin-top: 40px; text-align: left;">
      <div style="display: flex; flex-direction: column;">
        <label for="name" class="input-label">Nom</label>
        <input id="name" placeholder="Name" formControlName="name" class="styled-input" />
      </div>
      <div *ngIf="name?.errors?.['required']" class="error-message">
        Nom requis
      </div>
    </div>
    <!-- Label et champ Email -->
    <div class="form-field" style="margin-top: 25px; text-align: left;">
      <div style="display: flex; flex-direction: column;">
        <label for="email" class="input-label">Email</label>
        <input id="email" placeholder="Email address" formControlName="email" class="styled-input" />
      </div>
      <div *ngIf="email?.errors?.['required'] || email?.errors?.['email']" class="error-message">
        {{ email?.errors?.['required'] ? 'Email requis' : 'Merci d\'entrer un email valide' }}
      </div>
    </div>
    <!-- Label et champ Mot de passe -->
    <div class="form-field" style="margin-top: 25px; text-align: left;">
      <div style="display: flex; flex-direction: column;">
        <label for="password" class="input-label">Mot de passe</label>
        <input id="password" type="password" placeholder="Password" formControlName="password" class="styled-input" />
      </div>
      <div *ngIf="password?.errors?.['required']" class="error-message">
        Mot de passe requis
      </div>
    </div>
    <!-- Label et champ Confirmation du mot de passe -->
    <div class="form-field" style="margin-top: 25px; text-align: left;">
      <div style="display: flex; flex-direction: column;">
        <label for="confirmPassword" class="input-label">Confirmer mot de passe</label>
        <input id="confirmPassword" type="password" placeholder="Confirm Password" formControlName="confirmPassword"
          class="styled-input" />
      </div>
      <div *ngIf="confirmPassword?.errors?.['required']" class="error-message">
        Confirmation du Mot de passe requis
      </div>
    </div>
    <mat-error *ngIf="registerForm.errors?.['passwordsDontMatch']"
      style="color: red; font-size: 12px; margin-top: 5px;">
      Les mots de passe doivent correspondre
    </mat-error>


    <!-- Bouton "Sign Up" -->
    <div class="center margin-top" style="margin-top: 40px;">
      <button type="submit"
        style="cursor: pointer; color: #373636; font-family: 'Bugaki'; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal; width: 200px; height: 40px; border: none; border-radius: 30px; background: #CDC5FD;">Inscription</button>
    </div>

  </form>
</div>
