
<!-- Formulaire de connexion -->
<div class="form-container"
  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
  <h1
    style="color: #000; font-family: 'Bugaki'; font-size: 24px; font-style: normal; font-weight: 400; line-height: normal;">
    Connexion</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <!-- Label et champ Email -->
    <div class="form-field" style="margin-top: 40px; text-align: left;">
      <div style="display: flex; flex-direction: column;">
        <label for="email" class="input-label">Email</label>
        <input id="email" placeholder="Email address" formControlName="email" class="styled-input" />
      </div>
      <div *ngIf="email?.errors?.['required'] || email?.errors?.['email']"
        style="color: red; font-size: 12px; margin-top: 5px;">
        {{ email?.errors?.['required'] ? 'Email requis' : 'Merci d\'entrer un email valide' }}
      </div>
    </div>

    <!-- Label et champ Mot de passe -->
    <div class="form-field" style="margin-top: 25px; text-align: left;">
      <div style="display: flex; flex-direction: column;">
        <label for="password" class="input-label">Password</label>
        <input id="password" type="password" placeholder="Password" formControlName="password" class="styled-input" />
      </div>
      <div *ngIf="password?.errors?.['required']" style="color: red; font-size: 12px; margin-top: 5px;">
        Mot de passe requis
      </div>
    </div>

    <!-- Bouton "Login" -->
    <div class="center margin-top" style="margin-top: 40px;">
      <button type="submit"
        style="cursor: pointer; color: #373636; font-family: 'Bugaki'; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal; width: 200px; height: 40px; border: none; border-radius: 30px; background: #CDC5FD;">Connexion</button>
    </div>

    <!-- Lien d'inscription -->
    <div class="center margin-top"
      style="cursor: pointer; margin-top: 25px; color: #000; font-family: 'Klein Text Trial'; font-size: 14px; font-style: normal; font-weight: 350; line-height: normal;">
      Nouveau sur l'application ? <a class="register-link" routerLink="/register">S'inscrire !</a>
    </div>

  </form>
</div>
